{% extends "base2.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load discounted_price_range price_difference from discount %}
{% load i18n %}
{% load gross from prices_i18n %}
{% load markdown from markdown %}
{% load price_range from price_ranges %}
{% load static from staticfiles %}

{% block title %}{{ product }} — {{ block.super }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<style>
 ul { display:table; margin:0 auto;}

#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;*/
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 9px;
	width: 100px;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

#left-filter-panel {
    text-align:left;
}

label:hover {
    cursor: pointer;
}
</style>


<section class="breadcrumb_main_area margin-bottom-50">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="breadcrumb_main">
                <h2>{{product.name}}</h2>
            </div>
        </div>
    </div>
</section>

<div class="container">
  <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-7 col-xs-12">
            <div class="category_products">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single_product_page fix" style="margin-top:-75px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 no-padding-left">
                                        <div class="single_product_details">
                                            <div class="single_product_description" style="margin-left:-55%;">

                                        <!-- multistep form -->
                                    <form id="msform" role="form" method="post" action=".">
                                        {% csrf_token %}
                                      <input type="hidden" name="quantity" value=1 />
                                      <input type="hidden" name="variant" value=3 />
                                    	<!-- Nav tabs top-->
                                    	            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    	            	<div class="container">
                                                <div class="titles" id="review">Choose a Fabric</div>

                                                    <div class="col-md-12 col-xs-12" style="font-size:12px; margin-top:25px;">
                                                        <div class="row">

                                                            <div class="col-md-2 col-xs-2">
                                                                <!-- Attr 1 -->
                                                                <div class="panel panel-default" style="border:none;box-shadow:none;border-radius:0;" id="left-filter-panel">
                                                                    <div class="panel-heading" style="background:none;">
                                                                        <b>Patterns</b>
                                                                    </div>
                                                                    <div class="panel-body" style="">
                                                                        <ul style="width:100%;">
                                                                          <li>
                                                                              <input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Solids</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Print</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Checks</label></li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Stripes</label></li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Self</label></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <!-- End of Attr 1 -->

                                                                <!-- Attr 2 -->
                                                                <div class="panel panel-default" style="border:none;box-shadow:none;border-radius:0;" id="left-filter-panel">
                                                                    <div class="panel-heading" style="background:none;">
                                                                        <b>Fabrics</b>
                                                                    </div>
                                                                    <div class="panel-body" style="">
                                                                        <ul style="width:100%;">
                                                                          <li>
                                                                              <input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Giza Cotton</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">120s Giza Cotton</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Linen</label>
                                                                          </li>
                                                                          <li>
                                                                              <input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Linen Cotton</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Teri Cot</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">TeriRayon</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">TeriWool</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Jute</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Wool</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Denim-linen</label>
                                                                          </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <!-- End of Attr 2 -->

                                                                <!-- Attr 3 -->
                                                                <div class="panel panel-default" style="border:none;box-shadow:none;border-radius:0;" id="left-filter-panel">
                                                                    <div class="panel-heading" style="background:none;">
                                                                        <b>Colors</b>
                                                                    </div>
                                                                    <div class="panel-body" style="">
                                                                        <ul style="width:100%;">
                                                                          <li>
                                                                              <input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Black</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">White</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Blue</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Pink</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Red</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Yellow</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Brown</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Purple</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Grey</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Beige</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Green</label>
                                                                          </li>
                                                                          <li><input type="checkbox" name="myid1" id="myid1" style="width:20px;" /> <label class="myid" for="myid1">Orange</label>
                                                                          </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <!-- End of Attr 3 -->
                                                            </div>

                                                       <!-- Nav tabs middle-->
                                                        <div class="col-md-10 col-sm-10 col-xs-10">
                                                          <div>
                                                          <div class="fabrics">
                                                            {% for each in fabrics %}
                      																			  <li class="border" title="content_1" style="padding:10px;margin-right:15px;cursor:pointer;">
                                                                <div class="row">
                                                                  <script type="text/javascript">

                                                                  </script>
                                                                    <div class="col-md-12">
                                                                        <a href="#front"><input class="selectables" type="image" src="{{each.image.url}}" name="{{each.image.url}}" style="width:200px; height:200px;" onclick="myFunc('{{each.image.url}}')" /></a>
                                                                    </div>
                                                                </div>
                                                                  <div class="row" style="margin-top:15px;">
                                                                      <div class="col-md-12" style="font-size:12pt;font-weight:bold;">
                                                                            {{each.name}}AA
                                                                        </div>
                                                                    </div>
                                                                  <div class="row" style="margin-top:5px;">
                                                                      <div class="col-md-12">
                                                                          Price: Rs.{{each.price}}
                                                                      </div>
                                                                  </div>
                                                                  <span>
                      																			          <img src="{% static "images/select_itm.png" %}" />
                      																			      </span>
                      																			  </li>

                                                            {% endfor %}
                    																			</div></div>
                                                        </div>
                                                  </div>
                                              </div>

                                          </div>
                                          </div>

                                      <!-- progressbar -->
                                      <ul id="progressbar" style="width:1000px;" class="hidden">
                                          {% for each in customs %}
                                            <li class="active">{{each.name}}</li>
                                          {% endfor %}
                                            <li>Final</li>
                                      </ul>

                                      <!-- fieldsets -->

                                      {% for each in customs %}
                                      <fieldset style="width:1000px;" >
                                        <div class="titles" id="front">Choose a Customization for {{each.name}}</div>
                                        <div class="images_list" style="margin-left:25px; float:left;">
                                          {% for i in each.customizeimage_set.all %}
                                              <li class="border" title="{{i.title}}">
                                                  <input class="selectables" type="image" src="{{i.image.url}}" name="{{i.image.url}}" style="width:200px; height:200px;" onclick="myFuncCustoms('{{each.name}}','{{i.image.url}}')" />
      																			      <!-- <img class="selectables" src="{{i.image.url}}" style="width:200px; height:200px;" /> -->
      																			      <span>
      																			          <img src="{% static "images/select_itm.png" %}" />
      																			      </span>
      																			  </li>
                                          {% endfor %}
                                        </div>
                                        <hr style="background:#fff;color:#fff;clear:both;">
                                          {% if each.pk != 1 %}<input type="button" name="previous" class="previous action-button" value="Previous" />{% endif %}
                                          <input type="button" name="next" class="next action-button" value="Next" />
                                      </fieldset>

                                    {% endfor %}

                                      <fieldset style="width:1000px;">

                                          <div class="row">
                                            <div class="col-md-12">
                                              <h1>Yooho! All your customizations are done! Click on Checkout to proceed</h1>
                                              <!-- <div id="accordion">
                                                <h3>Standard Size</h3>
                                                <div>
                                                    <p>What kind of fitting do you want?</p><select><option>Relaxed</option><option>Slim</option></select><br />
                                                    <p>What is your size?</p><select><option>36 cms</option><option>38 cms</option><option>40 cms</option><option>42 cms</option><option>46 cms</option></select>
                                                </div>
                                                <h3>Personal Fit</h3>
                                                <div>
                                                    <input type="text"  placeholder="Enter your Height" /><br /><br />
                                                    <input type="text"  placeholder="Enter your Weight" /><br /><br />
                                                    <input type="text"  placeholder="Enter your Age" /><br /><br />
                                                    <input type="text"  placeholder="Enter your Shirt Size" />
                                                </div>
                                                <h3>Book Home Visit</h3>
                                                <div>
                                                    You have selected Book Home Visit, we will get in touch with you to confirm with you after you have succesfully placed your order
                                                </div>
                                                <h3>Send a Shirt</h3>
                                                <div>
                                                    <p>You have selected Send A Shirt. Your shirt will be sent to your Shipping Address.</p>
                                                </div>
                                              </div> -->
                                             </div>
        																		</div>
                                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                                        <input type="submit" value="Checkout" class="action-button" />
                                      </fieldset>
                                    </form>

                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

      </div>

    <style type="text/css">

		.images_list li {
				list-style: none;
				float: left;
				margin-right: 10px;
		}

		.images_list li span {
		  display:none;
			position:absolute;
		  top:150px;
		  left:30px;
			width:24px;
			height:24px;
		}
    .event li {
				list-style: none;
				float: left;
				margin-right: 10px;
			}

		.event li span {
		  display:none;
			position:absolute;
		  top:150px;
		  left:30px;
			width:24px;
			height:24px;
		}

    .fabrics li {
        list-style: none;
        float: left;
        margin-right: 10px;
      }

    .fabrics li span {
      display:none;
      position:absolute;
      top:150px;
      left:30px;
      width:24px;
      height:24px;
    }
		.border {
			border: 0;
			background: url(upload/check.jpg);
		}
    .selected-event {
			/*border: 3px solid pink;*/
		  position:relative;
			/*width:200px;*/
		}
    .selected-fabric {
      /*border: 3px solid pink;*/
      position:relative;
      /*width:200px;*/
    }
		.selected {
			/*border: 3px solid pink;*/
		  position:relative;
			/*width:200px;*/
            top:0px;
		}
		.hidden {
		    display:none;
		}
		.images_list li.selected span {
		    display:block;
		}
    .event li.selected span {
		    display:block;
		}
    .fabrics li.selected span {
        display:block;
    }

    </style>

    <script>
		$('.images_list li').click(function() {
			$('.images_list .selected').removeClass('selected');
			$(this).toggleClass('selected');
			var clicked = $(this).attr('title');
			$("#"+clicked).removeClass("hidden").siblings().addClass("hidden");
		});

    $('.event li').click(function() {
			$('.event .selected-event').removeClass('selected');
			$(this).toggleClass('selected-event');
			var clicked = $(this).attr('title');
			$("#"+clicked).removeClass("hidden").siblings().addClass("hidden");
		});

    $('.fabrics li').click(function() {
			$('.fabrics .selected').removeClass('selected');
			$(this).toggleClass('selected');
			var clicked = $(this).attr('title');
			$("#"+clicked).removeClass("hidden").siblings().addClass("hidden");
		});

    $(document).ready(function(){
    	$('a[href^="#"]').on('click',function (e) {
    	    e.preventDefault();

    	    var target = this.hash;
    	    var $target = $(target);

    	    $('html, body').stop().animate({
    	        'scrollTop': $target.offset().top
    	    }, 900, 'swing', function () {
    	        window.location.hash = target;
    	    });
    	});
    });
    </script>

    <script type="text/javascript">
      function myFuncCustoms(name, image){
        localStorage.setItem(name, image);
        event.preventDefault();
      }
      function myFunc(image){
        localStorage.clear()
        localStorage.setItem("fabric", image);
        console.log(localStorage.getItem("fabric"));
        event.preventDefault();
      }
    </script>

{% endblock content %}
