{% extends "base2.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load discounted_price_range price_difference from discount %}
{% load i18n %}
{% load gross from prices_i18n %}
{% load markdown from markdown %}
{% load price_range from price_ranges %}
{% load static from staticfiles %}

{% block title %}{{ product }} — {{ block.super }}{% endblock %}

{% block content %}

<section class="breadcrumb_main_area margin-bottom-50">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="breadcrumb_main">
                <h2>{{product.name}}</h2>
            </div>
        </div>
    </div>
</section>

<div class="container">
  <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-7 col-xs-12">
            <div class="category_products">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single_product_page fix">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-5">
                                        <div class="single_product_image">

                                            <input type="hidden" name="" id="__VIEWxSTATE" />
                                            <ul id='zoom1' class=''>
                                                <li>
                                                    <img src="{% static "img/zoom-img/dress_green_6.jpg" %}" alt='image1' />
                                                </li>
                                            </ul>

                                        </div>
                                        <div class="product_detail top_border_with_pad">
                                            <p>
                                                {{product.description}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-7 no-padding-left">
                                        <div class="single_product_details">
                                            <div class="single_product_description">

                                                <div class="price" style="margin-top:-20px;">
                                                    <p>Get your own customised Shirt at
                                                    <span class="old_price">₹510.00</span>
                                                    <span class="new_price">₹{{product.price.0}}</span>
                                                    </p>
                                                </div>
                                                <div class="row" style="margin-top:-50px;">
                                                    <div class="col-md-12">
                                                        <div class="product_item_details no_border_with_50_pad">
                                                            <div role="tabpanel">

                                                              <!-- Nav tabs -->
                                                              <ul class="nav nav-tabs" role="tablist">
                                                                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Collars</a></li>
                                                                <li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Back</a></li>
                                                                <li role="presentation"><a href="#tags" aria-controls="tags" role="tab" data-toggle="tab">Cuffs</a></li>
                                                                <li role="presentation"><a href="#front" aria-controls="front" role="tab" data-toggle="tab">Front</a></li>
                                                              </ul>

                                                              <!-- Tab panes -->
                                                              <div class="tab-content">
                                                                <div role="tabpanel" class="tab-pane active" id="description">
                                                                    <img src="{% static "images/collar/1.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/2.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/3.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/4.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/5.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/6.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/7.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/8.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/7.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/8.png" %}" width="100px"  height="100px" />
                                                                </div>
                                                                <div role="tabpanel" class="tab-pane" id="review">
                                                                  <img src="{% static "images/collar/1.png" %}" width="100px"  height="100px" />
                                                                  <img src="{% static "images/collar/2.png" %}" width="100px"  height="100px" />
                                                                  <img src="{% static "images/collar/3.png" %}" width="100px"  height="100px" />
                                                                  <img src="{% static "images/collar/4.png" %}" width="100px"  height="100px" />
                                                                  <img src="{% static "images/collar/5.png" %}" width="100px"  height="100px" />
                                                                  <img src="{% static "images/collar/6.png" %}" width="100px"  height="100px" />
                                                                  <img src="{% static "images/collar/7.png" %}" width="100px"  height="100px" />
                                                                  <img src="{% static "images/collar/8.png" %}" width="100px"  height="100px" />
                                                                </div>
                                                                <div role="tabpanel" class="tab-pane" id="tags">
                                                                  <img src="{% static "images/collar/1.png" %}" width="100px"  height="100px" />
                                                                  <img src="{% static "images/collar/2.png" %}" width="100px"  height="100px" />
                                                                  <img src="{% static "images/collar/3.png" %}" width="100px"  height="100px" />
                                                                  <img src="{% static "images/collar/4.png" %}" width="100px"  height="100px" />
                                                                  <img src="{% static "images/collar/5.png" %}" width="100px"  height="100px" />
                                                                  <img src="{% static "images/collar/6.png" %}" width="100px"  height="100px" />
                                                                  <img src="{% static "images/collar/7.png" %}" width="100px"  height="100px" />
                                                                  <img src="{% static "images/collar/8.png" %}" width="100px"  height="100px" />
                                                                </div>
                                                                <div role="tabpanel" class="tab-pane" id="front">
                                                                    <img src="{% static "images/collar/1.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/2.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/3.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/4.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/5.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/6.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/7.png" %}" width="100px"  height="100px" />
                                                                    <img src="{% static "images/collar/8.png" %}" width="100px"  height="100px" />
                                                                </div>
                                                              </div>



                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="color_size top_border_with_pad">
                                                            <div class="col-md-6 col-sm-6 col-xs-12 no-padding-left">
                                                                <div class="product_color">
                                                                    <span>color</span>
                                                                    <div class="sorting margin-left-15">
                                                                        <label>
                                                                            <select>
                                                                                <option selected>- Select color - </option>
                                                                                <option>Yellow</option>
                                                                                <option>Black</option>
                                                                            </select>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-xs-12 no-padding-right">
                                                                <div class="product_size floatright">
                                                                    <span>Size</span>
                                                                    <div class="sorting margin-left-15">
                                                                        <label>
                                                                            <select>
                                                                                <option selected>- Select dize - </option>
                                                                                <option>40</option>
                                                                                <option>50</option>
                                                                            </select>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="quanlity_cart_fav border_with_pad fix">
                                                            <div class="col-md-5 col-sm-5 no-padding-left">
                                                                <div class="quantity fix">
                                                                    <span>color</span>
                                                                    <div class="sorting margin-left-15">
                                                                        <label>
                                                                            <select>
                                                                                <option selected="">1</option>
                                                                                <option>2</option>
                                                                                <option>3</option>
                                                                                <option>4</option>
                                                                            </select>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-7 col-sm-7 no-padding-left no-padding-right">
                                                                <div class="cart_fav fix">
                                                                    <ul class="social_icons">
                                                                        <li><a href="#" class="add_cart_btn">Add to cart</a></li>
                                                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->

                                                {% if product.is_in_stock %}
                                                    {% block orderform %}
                                                    <form role="form" class="product-form form-vertical" method="post" action=".">
                                                        {% csrf_token %}
                                                        {% bootstrap_form form %}

                                                        <div class="form-group">
                                                            <button class="btn btn-lg btn-block btn-primary">
                                                                {% trans "Book an appoinment" %}
                                                            </button>
                                                        </div>
                                                    </form>
                                                    {% endblock %}
                                                {% else %}
                                                    <p class="alert alert-warning">{% trans "This product is currently <strong>unavailable</strong>." %}</p>
                                                {% endif %}


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

      </div>
    </div>

    <script>
    $(function () {
      $("img").click(function() {
        $(this).css('border', "solid 2px red");
      });
    });
    </script>


{% endblock content %}
