#cart-items {
    border:1px solid #666;
}

#cart-items thead tr th {
    padding:1em;
}

#cart-items thead tr {
    border-bottom: 1px dashed #666;
}

.my-cart {
    border:1px solid #666;
    padding:10px;
    margin: 2em 0;
}

.my-cart .cart-header div h2 {
    font-size: 14pt;
}

.my-cart .cart-header div h2 span {
    font-size: 12pt;
    font-weight:100;
}

.my-cart div {
    margin: 10px 0;
}

.my-cart .cart-content div h2 {
    font-weight:400;
    font-size: 14pt;
    width: 100%;
    border-bottom: 1px dashed #666;
}

.no-border tbody tr td {
    border:none;
}

.cart-item-amount select {
    width: 100%;
    border:1px solid #888;
    color: #666;
    font-weight: 300;
    padding: 5px;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom:10px;
text-align-last:center;
}

.cart-item-amount select option {
    text-align: center;
}

.cart-item-remove {
    background:#fff;
    width: 100%;
}

.cart-item-remove:hover {
    text-decoration:none;
    background: #eee;
}

.text-muted:hover {
    text-decoration:none;
}
