{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}SuitsByYou{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/favicon.ico" sizes="16x16">

        <!-- font-family -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>


        <!-- fontawesome -->
		<link rel="stylesheet" href="{% static "css/font-awesome.css" %}" %}" />
        <link rel="stylesheet" href="{% static "css/normalize.css" %}" %}" />
        <!-- bootstrap -->
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
        <!-- uikit -->
        <link rel="stylesheet" href="{% static "css/uikit.min.css" %}" />
        <!-- slicknav menu -->
		<link rel="stylesheet" href="{% static "css/slicknav.css" %}" />
        <!-- owl carousel -->
        <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}" />
        <!-- rev slider -->
        <link rel="stylesheet" href="{% static "css/rev-slider/settings.css" %}" />
        <!-- animate -->
        <link rel="stylesheet" href="{% static "css/animate.css" %}" />
        <!-- hover effect -->
        <link rel="stylesheet" href="{% static "css/hover-effect.css" %}" />
     <link rel="stylesheet" href="{% static "style.css" %}" />
    <!-- <link rel="stylesheet" href="{% static "css/storefront.css" %}" /> -->
    <!-- <link rel="stylesheet" href="{% static "css/dashboard.css" %}" /> -->
        <!-- responsive -->
		    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
            <link rel="stylesheet" href="{% static "override.css" %}" />
        <!-- modernizr from html5 boilerplate -->
        <script src="{% static "js/vendor/modernizr-2.6.2.min.js" %}"></script>

        <!-- jQuery -->
        <script src="http://thecodeplayer.com/uploads/js/jquery-1.9.1.min.js" type="text/javascript"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>        <!-- jQuery easing plugin -->
        <script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script>


        <!-- <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> -->

        <style>
        .titles{
            font-size: 30px;
            text-transform: uppercase;
            border-bottom: 1px solid #000;
            border-top: 1px solid #000;
            display: block;
            text-align: center;
            font-weight: 300;
            padding: 10px 0px;
            margin-bottom: 20px;
        }
        </style>



    </head>
    <body id="index_two">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!-- aftab zaman -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

        {% include "menu.html" %}

        {% block content %}
        {% endblock content %}

        <!-- start footer -->
        <footer>
            <!-- start footer top area -->
            <div class="footer_top_area">
                <div class="container">
                    <div class="row">
                        <div class="footer_top">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="footer_top_widget fix">
                                        <h4 class="special_border_right">About us</h4>
                                        <p class="margin-tb-30">Quisque eget elit purus. Vivamus dictum rutrum ipsum, quist ornare lorem iaculis nec. Sed volutpat tincdunt justo eget lob ortis. Phasellus molestie rutrum lorem sit. Quisque eget elit purus. Vivamus dictum rutrum ipsumi.</p>
                                        <ul class="social_icons">
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="footer_top_widget fix">
                                        <h4 class="special_border_right">Latest tweets</h4>
                                        <ul class="latest_tweet">
                                            <li>
                                                <p class="margin-top-30"><i class="fa fa-twitter"></i>@Jone Doe Integer sit amet commodo eros, sed dictums ipsum. Integer sit ame commodo eros.
                                                <span>12 hour ago</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="margin-top-30"><i class="fa fa-twitter"></i>@Jone Doe Integer sit amet commodo eros, sed dictums ipsum. Integer sit ame commodo eros.
                                                <span>12 hour ago</span>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="footer_top_widget fix">
                                        <h4 class="special_border_right">Newsletters</h4>
                                        <p class="margin-top-30">Subscribe to Our Newsletter to get Important News.</p>
                                        <input type="text">
                                        <a href="#" class="btn">SUBSCRIBE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end footer top area -->
            <!-- start footer bottom area -->
            <div class="footer_bottom_area">
                <div class="container">
                    <div class="row">
                        <div class="footer_bottom">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="footer_widget">
                                        <div class="logo">
                                            <a href="#"><img src="{% static "images/logo.jpg" %}" alt=""></a>
                                        </div>
                                        <ul class="special_widget">
                                            <li>
                                                <i class="fa fa-phone"></i>
                                                +1 (00) 86 868 868 666 <br>
                                                +1 (00) 42 868 666 888
                                            </li>
                                            <li>
                                                <i class="fa fa-envelope"></i>
                                                admin@bootexperts.com<br>
                                                info@bootexperts.com
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="footer_widget">
                                        <h4>My account</h4>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-angle-right"></i>My Account</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i>About Us</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i>Contact</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i>Affiliates</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i>Meet The Maker</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="footer_widget">
                                        <h4>Information</h4>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-angle-right"></i>Return & Exchanges</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i>Gift Cards</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i>Order Status</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i>Free Shipping</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i>Returns & Exchanges</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="footer_widget">
                                        <h4>Opening time</h4>
                                        <ul>
                                            <li>
                                                <span class="floatleft"><i class="fa fa-angle-right"></i>Monday - Friday</span>
                                                <span class="floatright">8.00 AM - 8.00 PM</span>
                                            </li>
                                            <li>
                                                <span class="floatleft"><i class="fa fa-angle-right"></i>Saturday</span>
                                                <span class="floatright">9.00 AM - 9.00 PM</span>
                                            </li>
                                            <li class="no_border">
                                                <span class="floatleft"><i class="fa fa-angle-right"></i>Sunday</span>
                                                <span class="floatright">10.00 AM - 6.00 PM</span>
                                            </li>
                                        </ul>
                                        <div class="payment">
                                            <a href="#"><img src="{% static "img/visa.png" %}" alt=""></a>
                                            <a href="#"><img src="{% static "img/mastercard.png" %}" alt=""></a>
                                            <a href="#"><img src="{% static "img/discover.png" %}" alt=""></a>
                                            <a href="#"><img src="{% static "img/american-express.png" %}" alt=""></a>
                                            <a href="#"><img src="{% static "img/paypal.png" %}" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end footer bottom area -->
            <!-- start footer copyright area -->
            <div class="footer_copyright_area">
                <div class="container">
                    <div class="row">
                        <div class="footer_copyright">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="copyright">
                                        <p>
                                            Copyright © 2016 <a href="#">SuitsByYou</a> - All Rights Reseved. Terms and Conditons
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer_menu">
                                        <nav class="footer_nav">
                                            <ul>
                                                <li><a href="/pages/about/">About Us</a></li>
                                                <li><a href="#">Check Out</a></li>
                                                <li><a href="/pages/terms-and-conditions/">Terms and Conditions</a></li>
                                                <li><a href="/pages/privacy-policy/">Privacy Policy</a></li>
                                                <li><a href="/contact/">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end footer copyright area -->
        </footer>



        <!-- jquery library -->
        <!-- bootstrap -->
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/multistepform.js" %}"></script>
        <!-- uikit -->
        <script src="{% static "js/uikit.min.js" %}"></script>
        <!-- slicknav menu -->
        <script src="{% static "js/jquery.slicknav.min.js" %}"></script>
        <!-- owl carousel -->
        <script src="{% static "js/owl.carousel.min.js" %}"></script>
        <!-- rev slider -->
        <script src="{% static "js/rev-slider/jquery.themepunch.plugins.min.js" %}"></script>
        <script src="{% static "js/rev-slider/jquery.themepunch.revolution.min.js" %}"></script>
        <script src="{% static "js/rev-slider/rs.home.js" %}"></script>
        <!-- plugins from boilerplate -->
        <script src="{% static "js/plugins.js" %}"></script>

        <script src="{% static "js/storefront.js" %}"></script>

        <!-- WOW Animation -->
        <script src="{% static "js/wow.min.js" %}"></script>

        <!--Activating WOW Animation only for modern browser-->
        <!--[if !IE]><!-->
        <script type="text/javascript">new WOW().init();</script>
        <!--<![endif]-->

        <!--Oh Yes, IE 9+ Supports animation, lets activate for IE 9+-->
        <!--[if gte IE 9]>
            <script type="text/javascript">new WOW().init();</script>
        <![endif]-->

        <!--Opacity & Other IE fix for older browser-->
        <!--[if lte IE 8]>
            <script type="text/javascript" src="js/ie-opacity-polyfill.js"></script>
        <![endif]-->


        <!-- my js -->
        <script src="{% static "js/main.js" %}"></script>

        <script>
            $( ".m_nav" ).click(function() {
                $( "#cssmenu" ).slideToggle( "slow", function() {});
            });
        </script>
        <script>
        $(function() {
          $( "#accordion").accordion({
            heightStyle: "content"
          });
        });
        </script>

    </body>
</html>
