{% extends "base2.html" %}
{% load staticfiles %}

{% block content %}

        <!-- Start google map -->
        <section class="contact_google_map_area margin-bottom-50">
            <div class="container">
                <div class="row">
                    <div class="contact_google_map">
                        <h4>Get in touch</h4>
                        <p>We happy to help if there’s anything we can do for you. Just get in touch with us!</p>
                        <div id="contactgoogleMap" style="width:100%;height:420px;"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End google map -->


        <!-- Start Contact Mail Area -->
        <section class="contact_mail_area margin-bottom-84">
            <div class="container">
                <div class="row">
                    <div class="contact_mail">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="contact_info">
                                    <div class="section_title">
                                        <h4>Contact Info</h4>
                                    </div>
                                    <p>Quisque eget elit purus. Vivamus dictum rutrum ipsum, quist ornare lorem iaculis nec. SedS volutpat tincdunt justo eget lob ortis. Phasellus molestie rutrum lorem sit. Quisque eget elit purus. Vivamus dictum rutrum ipsumi. Phasellus molestie rutrum lorem sit. Quisque eget eS  purus. Vivamus dictum rutrum ipsumi.</p>
                                    <ul>
                                        <li>
                                            <i class="fa fa-phone"></i>
                                            +1 (00) 86 868 868 666 <br>
                                            +1 (00) 42 868 666 888
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope"></i>
                                            <a href="mailto:letspersonify@gmail.com">letspersonify@gmail.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="send_mail">
                                    <div class="section_title">
                                        <h4>send us an email</h4>
                                    </div>
                                    <form action="#">
                                        <input type="text" placeholder="Your name">
                                        <input type="email" placeholder="Your email">
                                        <textarea name="" cols="30" rows="5" placeholder="Your comment"></textarea>
                                        <a href="#" class="btn btn_reverse">send mail</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Mail Area -->

        <!-- Google maps API -->
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script>

        var myCenter=new google.maps.LatLng(35.973561,-93.868103);

        function initialize()
        {
        var mapProp = {
          center:myCenter,
          zoom:15,
            scrollwheel: false,
          mapTypeId:google.maps.MapTypeId.ROADMAP
          };

        var map=new google.maps.Map(document.getElementById("contactgoogleMap"),mapProp);

        var marker=new google.maps.Marker({
          position:myCenter,
          animation:google.maps.Animation.BOUNCE,
          icon:'img/google-pin.png'
        });

        var infowindow = new google.maps.InfoWindow({
          content:"united-states"
        });

        marker.setMap(map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        </script>


{% endblock content %}
