{% extends "base2.html" %}
{% load staticfiles %}

{% block content %}
<!-- <center> -->
  <div id="container" style="margin-left:15%; margin-bottom:200px; margin-top:50px;">
    <div class="row">
      <div class="col-md-10 col-xl-10 col-xs-10">

        <h1>{{flatpage.title}}</h1>
        <hr />
        <br />

        {{flatpage.content|safe}}

      </div>
    </div>
  </div>
<!-- </center> -->
{% endblock content %}
