{% extends "base2.html" %}
{% load staticfiles %}

{% block content %}
<style>
.titles{
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    display: block;
    text-align: center;
    font-weight: 300;
    padding: 10px 0px;
    margin-bottom: 20px;
}
p{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.column3-how{
    float: left;
    margin-right: 30px;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    margin-bottom: 20px;
}
.text-center-uppercase{
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}
.flex-prev,.flex-next{
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

</style>

        <!-- start home slider -->
        <div class="slider_area" style="height:900px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="slider margin-bottom-30" id="slider_rev">
                        <div class="fullwidthbanner-container" >
                            <div class="fullwidthbanner">
                                <ul>
                                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                                        <img src="{% static "images/banner.jpg" %}" alt="slide" >
                                        <!-- <div id="mens_collection" class="tp-caption large_black sfr" data-x="990" data-y="178" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
                                            style="font-size: 37px; line-height: 33px; color: #999999; top: 230px; ">
                                            Collection
                                        </div>
                                        <div class="tp-caption large_black sfr" data-x="715" data-y="149" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
                                            style="color: #444444; font-size: 120px; font-family: 'Pacifico', cursive; ">
                                            Real man
                                        </div>
                                        <div class="tp-caption large_black sfr" data-x="799" data-y="294" data-speed="1200" data-start="1400" data-easing="easeInOutBack"
                                            style="color: #999999; font-weight: 600; font-size: 30px; text-transform: uppercase;">
                                            save up to 30% off
                                        </div> -->
                                        <!-- <div class="tp-caption lfb carousel-caption-inner" data-x="890" data-y="352" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
                                            style="">
                                            <a href="#" class="s-btn" style="background: transparent; color: #666666; border: 2px solid #aaaaaa; font-weight: 600; font-size: 14px; display: inline-block; padding: 8px 17px;">Shop Now</a>
                                        </div> -->
                                    </li>
                                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                                        <img src="{% static "images/banner2.jpg" %}" alt="slide" >
                                        <!-- <div id="mens_collection" class="tp-caption large_black sfr" data-x="990" data-y="178" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
                                            style="font-size: 37px; line-height: 33px; color: #999999; top: 230px; ">
                                            Collection
                                        </div>
                                        <div class="tp-caption large_black sfr" data-x="715" data-y="149" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
                                            style="color: #444444; font-size: 120px; font-family: 'Pacifico', cursive; ">
                                            Real man
                                        </div>
                                        <div class="tp-caption large_black sfr" data-x="799" data-y="294" data-speed="1200" data-start="1400" data-easing="easeInOutBack"
                                            style="color: #999999; font-weight: 600; font-size: 30px; text-transform: uppercase;">
                                            save up to 30% off
                                        </div> -->
                                        <!-- <div class="tp-caption lfb carousel-caption-inner" data-x="890" data-y="352" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
                                            style="">
                                            <a href="#" class="s-btn" style="background: transparent; color: #666666; border: 2px solid #aaaaaa; font-weight: 600; font-size: 14px; display: inline-block; padding: 8px 17px;">Shop Now</a>
                                        </div> -->
                                    </li>
                                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                                        <img src="{% static "images/banner3.jpg" %}" alt="slide" >
                                        <!-- <div id="mens_collection" class="tp-caption large_black sfr" data-x="990" data-y="178" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
                                            style="font-size: 37px; line-height: 33px; color: #999999; top: 230px; ">
                                            Collection
                                        </div>
                                        <div class="tp-caption large_black sfr" data-x="715" data-y="149" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
                                            style="color: #444444; font-size: 120px; font-family: 'Pacifico', cursive; ">
                                            Real man
                                        </div>
                                        <div class="tp-caption large_black sfr" data-x="799" data-y="294" data-speed="1200" data-start="1400" data-easing="easeInOutBack"
                                            style="color: #999999; font-weight: 600; font-size: 30px; text-transform: uppercase;">
                                            save up to 30% off
                                        </div> -->
                                        <!-- <div class="tp-caption lfb carousel-caption-inner" data-x="890" data-y="352" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
                                            style="">
                                            <a href="#" class="s-btn" style="background: transparent; color: #666666; border: 2px solid #aaaaaa; font-weight: 600; font-size: 14px; display: inline-block; padding: 8px 17px;">Shop Now</a>
                                        </div> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end home slider -->

        <!-- <div class="titles" id="howtosuit">How To Suit?</div> -->

<!-- <div class="container">
<div class="col-md-4">
<div class="column3-how">
<img src="{% static "images/01.png" %}" class="img-center" >
<div class="text-huge-content">
<p class="uppercase"><b>Book an appointment </b></p>

<p>Browse through our customization catalogue and book your appointment with our fashion consultant through our online form. We will get in touch with you to understand your need and our style consultant will visit you at a time convenient for you to facilitate you with the same.</p>
</div>
</div>
</div>
<div class="col-md-4">
<div class="column3-how">
<img src="{% static "images/03.png" %}" class="img-center">
<div class="text-huge-content">
<p class="uppercase"><b>Consult &amp; Place your order</b></p>

<p> During your consultation, we will guide you with the fit and styling for the occasion showcasing options to choose from our wide range of fabrics. Once the design is finalized, you can place your order and get measured instantly to achieve the perfect fit of your personalized garment.</p>
</div>
</div>
</div>
<div class="col-md-4">
<div class="column3-how">
<img src="{% static "images/04.png" %}" class="img-center">
<div class="text-huge-content">
<p class="uppercase"><b>DELIVERY</b></p>

<p>We mirror your pick and handcraft the best outcome there will be to embody your personality at its tasteful best. Our fashion consultant personally delivers your choice of garment at your convenience within 10-15 days from the order date vouching for a 100% fit guarantee.</p>

</div>
</div>
</div>
<p>'We are currently offering Bespoke and outright services in Delhi/NCR. And we deliver <b>Standard Fit</b> and <b>Personal Fit</b> garments across PAN India'.</p>
</div>  -->
<!-- <hr /> -->

        <!-- start product area -->
        <section class="products_area">
            <div class="container">
                <div class="row">
                    <div class="products">
                        <div class="row">
                            <!-- start third product row -->
                            <!-- <div class="third_product_row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="single_product">
                                        <div class="grid">
                                            <figure class="effect-winston">
                                                <img src="{% static "img/product-twelve.png" %}" alt="img01"/>
                                                <figcaption>
                                                    <h2>mens <span>lookbook</span></h2>
                                                    <p>Hot sale</p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="half_row margin-bottom-40">
                                                <div class="single_product">
                                                    <div class="grid">
                                                        <figure class="effect-julia">
                                                            <img src="{% static "img/product-six.png" %}" alt="img01"/>
                                                            <figcaption>
                                                                <h2>free shipping</h2>
                                                                <div>
                                                                    <p>on oder of $369.00</p>
                                                                    <p>Use Code Freeship <span></span>FS02</p>
                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="half_row half_last_row margin-bottom-40">
                                                <div class="single_product">
                                                    <div class="grid">
                                                        <figure class="effect-julia">
                                                            <img src="{% static "img/product-seven.png" %}" alt="img01"/>
                                                            <figcaption>
                                                                <h3>accesories</h3>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="single_product">
                                        <div class="grid">
                                            <figure class="effect-moses">
                                                <img src="{% static "img/product-eight.png" %}" alt="img01"/>
                                                <figcaption>
                                                    <h2>Womens LookBook</h2>
                                                    <p>new collection</p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- end third product row -->
                        </div>

                        <!-- <div class="titles" id="whyus">why us?</div>

<div class="container">
<div class="col-md-4">
<div class="column3-how">
 <img src="{% static "images/why-01.png" %}" class="img-center" style="width: 120px;">
<div class="text-huge-content">
    <p class="uppercase"><b>CONVENIENCE </b></p>

    <p>We make it easy for you to customize your own garments at the comfort of your fingertips along with

assistance from our fashion consultant at every step focusing to serve you at your convenience.</p>
</div>
</div>
</div>
<div class="col-md-4">
<div class="column3-how">
<img src="{% static "images/why-02.png" %}" class="img-center" style="width: 120px;">
<div class="text-huge-content">cd
    <p class="uppercase"><b>QUALITY</b></p>

    <p>While we execute the drop of your desired garment, you can be rest assured that the quality will be

state of the art focusing on the seam finish and sturdiness for the perfect customization of our handcrafted garment.</p>
</div>
</div>
</div>
<div class="col-md-4">
<div class="column3-how">
<img src="{% static "images/why-03.png" %}" class="img-center" style="width: 120px;">
<div class="text-huge-content">
    <p class="uppercase"><b>Save Time & Money</b></p>

    <p>Let go of the never ending trips to a fabric emporium and a tailor followed by multiple sittings to

achieve the best fit, for we create Suits By You within an affordable price range saving your valuable time and

effort.</p>

</div>
</div>
</div>
</div> -->

                  <div class="titles" id="shop">Catalogue</div>


                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <!-- start new featured sales tab -->
                                <div class="new_featured_sales">
                                    <div role="tabpanel">

                                        <div class="row">
                                          <!-- Tab panes -->
                                          <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="new_tab">
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <div class="single_tab_content">
                                                        <figure class="effect-lexi">
                                                            <a href="/products/shirts-1/"><img src="{% static "images/shirt.jpg" %}" alt=""></a>
                                                            <figcaption>
                                                                <a href="/products/shirts-1/" class="add_to_cart">Shirts</a>
                                                                <p class="discount"></p>
                                                            </figcaption>
                                                        </figure>
                                                        <div class="product_description">
                                                            <div class="price">
                                                                <p><span>Starting from</span> <span class="new_price">INR 500</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <div class="single_tab_content">
                                                        <figure class="effect-lexi">
                                                            <a href="/products/pants-2/"><img src="{% static "images/pants.jpg" %}" alt=""></a>
                                                            <figcaption>
                                                                <a href="/products/pants-2/" class="add_to_cart">Pants</a>
                                                                <p class="discount"></p>
                                                            </figcaption>
                                                        </figure>
                                                        <div class="product_description">
                                                            <div class="price">
                                                              <p><span>Starting from</span> <span class="new_price">INR 500</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <div class="single_tab_content">
                                                        <figure class="effect-lexi">
                                                            <a href="/products/waist-coats-3/"><img src="{% static "images/waistcoat.jpg" %}" alt=""></a>
                                                            <figcaption>
                                                                <a href="/products/waist-coats-3/" class="add_to_cart">Waist Coats</a>
                                                                <p class="discount"></p>

                                                            </figcaption>
                                                        </figure>
                                                        <div class="product_description">
                                                            <div class="price">
                                                              <p><span>Starting from</span> <span class="new_price">INR 500</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <div class="single_tab_content">
                                                        <figure class="effect-lexi">
                                                            <a href="/products/jawahar-coat-4/"><img src="{% static "images/jc.jpg" %}" alt=""></a>
                                                            <figcaption>
                                                                <a href="/products/jawahar-coat-4/" class="add_to_cart">Jawahar Coats</a>
                                                                <p class="discount"></p>
                                                            </figcaption>
                                                        </figure>
                                                        <div class="product_description">

                                                            <div class="price">
                                                              <p><span>Starting from</span> <span class="new_price">INR 500</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                                <!-- end new featured sales tab -->


    <hr class="dotted">
    <!-- Testimonials start -->
    <div id ="testimonials" class="container">

      <div class="titles" id="howtosuit">Our Happy Customers</div>
        <div class="flexslider-testimonials container">
            <ul class="slides">
                <li>
                    <div class="container">
                        <div class="col-md-2">
                    <div class="column-img">
                        <img src="{% static "images/shovit.png" %}" class="img-center" style="width: 120px; alt="SuitsByYou" class="img-center"">
                    </div></div>
                    <div class="col-md-10">
                    <div class="content">
                        I am one of the first customers of ‘SUITS BY YOU’ and believe you me that I was more than

satisfied with the suits I got made. I got the attire made for my marriage and being the groom I was thrilled, but frankly

speaking Rishabb was more thrilled than me. He got into each and every minute detail starting from the fabrics, the

colours, the patterns, the fittings, the looks, I mean every tiny description that one can consider while customising.

Frankly, these guys imbibed a celebrity feeling within me for the entire process as per my own comfort. Icing on the cake

is the pricing which you will find immensely reasonable. To sum it up, I have developed a lifelong relationship with these

guys and have become a permanent customer.</div></div></div>
                        <p class="text-right"><b>- Lieutenant Shovit Bhakat</b></p>
                    </div>
                </li>
                <!-- <li>
                    <div class="column-img">
                        <img src="img/sample.png" alt="SuitsByYou" class="img-center">
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quos qui sint voluptatem

voluptates placeat perspiciatis ullam eaque similique, commodi perferendis obcaecati ex, modi ipsa maiores provident

quaerat aliquid voluptatibus vero iure reiciendis laudantium. Facere minima eveniet voluptate, commodi id!
                    </div>
                </li> -->

            </ul>

        </div> <!-- .flexslider-testimonials end -->
        <div class="container-nav container no-show-resp">
            <a href="#" class="flex-prev"><i class="ion-ios-arrow-left"></i></a>
            <a href="#" class="flex-next"><i class="ion-ios-arrow-right"></i></a>
        </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
        <!-- end product area -->

      {% endblock content %}
