{% load staticfiles %}
{% load i18n %}


<!-- start header -->

<header class="header_area">
    <!-- start header top area -->
    <div class="header_top_area">
        <div class="container">
            <div class="row">
                <div class="header_top">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="left_header_top">
                                <ul>
                                    {% if not user.is_authenticated %}<li><a href="{% url "registration:login" %}">Login/Signup</a></li>{% else %}<li><a href="{% url "registration:logout" %}">Logout</a></li>{% endif %}
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url "profile:details" %}">My Account<i class="fa fa-angle-down"></i></a>
                                        <ul>
                                            <li><a href="{% url "profile:orders" %}">My Orders</a></li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 floatright">
                        <div class="row">
                            <div class="right_header_top floatright">
                                <ul>
                                    <li class="col-md-6">
                                        <a href="{% url "cart:index" %}">{% trans "Cart" %} {% if request.cart %}<span class="badge">{{ request.cart.count }}</span>{% endif %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header top area -->
    <!-- start header bottom area -->
    <div class="header_bottom_area">
        <div class="container">
            <div class="row">

                <!-- LOGO -->
                <center><div class="logo">
                    <a href="{% url "core:home" %}"><img src="{% static "images/logo.jpg" %}" alt=""></a>
                </div></center>

                <!-- start menga menu -->
                <div class="nav_wrap">
                    <nav class="no320">
                        <ul>
                            <li>
                                <a href="{% url "core:home" %}">Home</a>
                            </li>
                            <li class="dropdown_menu">
                                <a href="#">Shop</a>
                                <div class="d_menu">
                                    <span>
                                        <a href="{% url "core:home" %}#shop">Design your own</a>
                                        <a href="#">Shop Presets</a>
                                        <a href="#">Gift Cards</a>
                                    </span>
                                </div>
                            </li>
                            <li >
                                <a href="/pages/why-customize/">why customize</a>
                            </li>
                            <li>
                              <a href="/pages/how-it-works/">How It Works</a>
                            </li>

                            <li>
                                <a href="/pages/about/">about us</a>
                            </li>
                            <li>
                              <a href="#">Book A Home Visit</a>
                            </li>
                            <!-- <li >
                                <a href="#">blog</a>
                            </li> -->
                            <!-- <li >
                                <a href="{% url "core:home" %}testimonials">testimonials</a>
                            </li> -->
                            <!-- <li class="">
                                <a href="{% url "core:contact" %}">contact</a>
                            </li> -->
                        </ul>
                    </nav>
                    <!-- MOBILE ONLY CONTENT -->
                    <div class="only-for-mobile">
                        <ul class="ofm">
                            <li class="m_nav"><i class="fa fa-bars"></i> Navigation</li>
                        </ul>

                        <!-- MOBILE MENU -->
                        <div class="mobi-menu">
                            <div id='cssmenu'>
                                <ul>
                                    <li class='has-sub'>
                                        <a href='index-2.html'><span>Home</span></a>
                                        <ul class="sub-nav">
                                            <li><a href="index-two.html"><span>Home - Alternative 1</span></a></li>
                                            <li><a href="index-three.html"><span>Home - Alternative 2</span></a></li>
                                        </ul>
                                    </li>

                                    <li class='has-sub'>
                                        <a href='#'><span>shop</span></a>
                                        <ul>
                                            <li class='has-sub'>
                                                <a href='#'><span>category</span></a>
                                                <ul>
                                                    <li><a href="#"><span>My Account</span></a></li>
                                                    <li><a href="#"><span>About US</span></a></li>
                                                    <li><a href="#"><span>Contact</span></a></li>
                                                    <li><a href="#"><span>Affiliates</span></a></li>
                                                    <li class="last"><a href="index.html#"><span>Meet Marker</span></a></li>
                                                </ul>
                                            </li>
                                            <li class='has-sub'>
                                                <a href='#'><span>Portfolio</span></a>
                                                <ul>
                                                    <li><a href="#"><span>Portfolio - 4col</span></a></li>
                                                    <li><a href="#"><span>Portfolio - 3col</span></a></li>
                                                    <li><a href="#"><span>Portfolio - 2col</span></a></li>
                                                    <li><a href="#"><span>Portfolio - Single</span></a></li>
                                                    <li class='last'><a href="#"><span>404 page</span></a></li>
                                                </ul>
                                            </li>
                                            <li class='has-sub'>
                                                <a href='#'><span>Shop</span></a>
                                                <ul>
                                                    <li><a href="#"><span>Shop - List style</span></a></li>
                                                    <li><a href="#"><span>Shop - Grid style</span></a></li>
                                                    <li><a href="#"><span>Shop - Single</span></a></li>
                                                    <li><a href="#"><span>Shop - Cartpage</span></a></li>
                                                    <li class='last'><a href="#"><span>Shop - Checkout</span></a></li>
                                                </ul>
                                            </li>
                                            <li class='has-sub'>
                                                <a href='#'><span>Extras</span></a>
                                                <ul>
                                                    <li><a href="#"><span>Compare</span></a></li>
                                                    <li><a href="#"><span>About us</span></a></li>
                                                    <li><a href="#"><span>Blog overview</span></a></li>
                                                    <li><a href="#"><span>Blog Single</span></a></li>
                                                    <li class='last'><a href="#"><span>Contact</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="img-nav">
                                                <div class="container">
                                                    <div class="clearfix"></div>
                                                    <div class="space20"></div>
                                                    <div class="clearfix"></div>
                                                    <div class="row in1">
                                                        <div class="col-md-6">
                                                            <a href="#"><img src="http://placehold.it/190x210" class="img-responsive" alt=""/></a>
                                                        </div>
                                                        <div class="col-md-6">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="space20"></div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="space20"></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class='has-sub'>
                                        <a href='#'><span>Product</span></a>
                                        <ul class="sub-nav">
                                            <li><a href="gird.html"><span>Product gird</span></a></li>
                                            <li><a href="list.html"><span>Product List</span></a></li>
                                            <li><a href="single-product.html"><span>Single Product</span></a></li>
                                            <li><a href="checkout.html"><span>Checkout</span></a></li>
                                        </ul>
                                    </li>
                                    <li class='has-sub'>
                                        <a href='#'><span>Blog</span></a>
                                        <ul class="sub-nav">
                                            <li><a href="bloglist.html"><span>Bloglist</span></a></li>
                                            <li><a href="our-blog.html"><span>Our Blog</span></a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href='#'><span>Portfolio</span></a>
                                    </li>
                                    <li>
                                        <a href='#'><span>Shortcodes</span></a>
                                    </li>
                                    <li>
                                        <a href='#'><span>More</span></a>
                                    </li>
                                    <li class='has-sub'>
                                        <a href='#'><span>Buy Theme</span></a>
                                        <ul class="sub-nav">
                                            <li><a href="about-us.html"><span>About Us</span></a></li>
                                            <li><a href="contact.html"><span>Contact</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- MOBILE ONLY CONTENT -->

                </div>
                <!-- end mega menu -->

            </div>

        </div>
    </div>
    <!-- end header bottom area -->
</header>
<!-- end header -->
