{% extends "base2.html" %}
{% load staticfiles %}
{% load gross from prices_i18n %}
{% load i18n %}

{% block title %}Your Cart — {{ block.super }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


<div class="container" style="margin-bottom:300px;">
  <div class="row">

    {% if cart %}

    {% for group in cart %}
        {% for line in group %}
        <div class="col-md-12 my-cart">
                <div class="row cart-header">
                    <div class="col-md-12">
                        <h2><a style="color:#000;" href="{{ line.product.get_absolute_url }}">
                            {{ line.product.product }} - {{ line.product.display_variant }}
                        </a></h2>
                    </div>
                </div>

                <div class="row row-eq-height cart-content">
                    <div class="col-md-4" style="padding:0 35px; border-right: 1px solid #888; overflow:scroll; max-height:400px;">
                        <h2>Your Selected Customizations</h2>
                        <div id="customs">

                        </div>
                    </div>
                    <div class="col-md-4" style="padding:0 35px; border-right: 1px solid #888;">
                        <h2>Quantity</h2>
                        <div class="cart-item-amount">
                            <div class="row">
                              <div class="col-md-6">
                                  <form role="form" action="{% url "cart:update_line" product_id=line.product.pk %}" method="post" class="form-cart">
                                      <div class="input-group cart-item-quantity js-hidden{% if line.form.quantity.errors %} has-error{% endif %}">
                                          {{ line.form.quantity }}
                                          <span class="input-group-btn">
                                              <button class="btn btn-info" type="submit">{% trans "Update" %}</button>
                                          </span>
                                      </div>
                                      {% if line.form.quantity.errors %}
                                          {% for error in line.form.quantity.errors %}
                                              <span class="text-danger">{{ error }}</span>
                                          {% endfor %}
                                      {% endif %}
                                      {% csrf_token %}
                                  </form>
                              </div>

                                <div class="col-md-6">
                                    <button type="submit" class="cart-item-remove">
                                        <span class="text-muted">{% trans "Remove from cart" %}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="padding:0 35px;">
                        <h2>Price</h2>
                        <table class="table no-border">
                            <tr>
                                <td>
                                    Per Item
                                </td>
                                <td style="text-align:right;">
                                    {% gross line.get_price_per_item %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Total</strong>
                                </td>
                                <td style="text-align:right;" data-product-id="{{ line.product.pk }}">
                                    <strong>{% gross line.get_total %}</strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
        </div>
        {% endfor %}
    {% endfor %}



        {% comment %}
        <table class="table table-striped cart" id="cart-items">
            <thead>
            <tr>

                <th class="col-xs-5 col-sm-2 col-md-1">{% trans "Product" %}</th>
                <th class="col-sm-5 hidden-xs"></th>
                <th class="col-xs-6 col-sm-3 col-md-2">{% trans "Quantity" %}</th>
                <th class="col-sm-1 hidden-xs text-right">{% trans "Price" %}</th>
                <th class="col-xs-1 text-right">{% trans "Total" %}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td class="hidden-xs" colspan="2"></td>
                <td class="col-xs-9 col-md-9 text-right lead" colspan="2">{% trans "Total" %}:
                <td class="col-xs-3 col-md-2 text-right lead"><b class="cart-total">{% gross cart.get_total %}</b></td>
            </tr>
            </tfoot>
            <tbody>
            {% for group in cart %}
                {% for line in group %}
                    <tr class="cart-item">
                        <td class="hidden-xs" id="customs">
                            <a href="{{ line.product.get_absolute_url }}">
                                {% if line.product.product.images.first %}
                                    <!-- <img class="cart-item-image" itemprop="image" src="{{ line.product.product.images.first.image.crop.100x100 }}" alt=""> -->
                                {% else %}
                                    <!-- <img class="cart-item-image" src="{% static 'images/product-image-placeholder-small.png' %}" alt=""> -->
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="{{ line.product.get_absolute_url }}">
                                {{ line.product.product }} - {{ line.product.display_variant }}
                            </a>
                        </td>
                        <td>
                            <div class="cart-item-amount">
                                <form role="form" action="{% url "cart:update_line" product_id=line.product.pk %}" method="post" class="form-cart">
                                    <div class="input-group cart-item-quantity js-hidden{% if line.form.quantity.errors %} has-error{% endif %}">
                                        {{ line.form.quantity }}
                                        <span class="input-group-btn">
                                            <button class="btn btn-info" type="submit">{% trans "Update" %}</button>
                                        </span>
                                    </div>
                                    {% if line.form.quantity.errors %}
                                        {% for error in line.form.quantity.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                    {% csrf_token %}
                                </form>

                                <button type="submit" class="btn btn-link btn-sm cart-item-remove">
                                    <span class="text-muted">{% trans "Remove from cart" %}</span>
                                </button>
                            </div>
                        </td>
                        <td class="text-right hidden-xs">{% gross line.get_price_per_item %}</td>
                        <td class="text-right cart-item-subtotal" data-product-id="{{ line.product.pk }}">
                            {% gross line.get_total %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>{% endcomment %}

        <div class="row col-md-6">
          <div id="accordion">
            <h3>Standard Size</h3>
            <div>
                <p>What kind of fitting do you want?</p><select><option>Relaxed</option><option>Slim</option></select><br />
                <p>What is your size?</p><select><option>36 cms</option><option>38 cms</option><option>40 cms</option><option>42 cms</option><option>46 cms</option></select>
            </div>
            <h3>Personal Fit</h3>
            <div>
                <input type="text"  placeholder="Enter your Height" /><br /><br />
                <input type="text"  placeholder="Enter your Weight" /><br /><br />
                <input type="text"  placeholder="Enter your Age" /><br /><br />
                <input type="text"  placeholder="Enter your Shirt Size" />
            </div>
            <h3>Book Home Visit</h3>
            <div>
                You have selected Book Home Visit, we will get in touch with you to confirm with you after you have succesfully placed your order
            </div>
            <h3>Send a Shirt</h3>
            <div>
                <p>You have selected Send A Shirt. Your shirt will be sent to your Shipping Address.</p>
            </div>
          </div>
        </div>

        <div class="form-group">
            <div>
                <a href="{% url "checkout:index" %}" class="btn btn-primary btn-lg pull-right">{% trans "Proceed to checkout" %}</a>
            </div>
        </div>



    {% else %}
    <p>
        {% trans 'Your cart is empty' %}
    </p>
    {% endif %}
  </div>
</div>

<script>
for(var i=0; i<localStorage.length; i++){
  key = localStorage.key(i);
  console.log(localStorage.getItem(key));
  document.getElementById("customs").innerHTML += '<div class="row" style="border-bottom: 1px dashed #666;"><div class="col-md-12"><center><img class="cart-item-image" itemprop="image" src="' + localStorage.getItem(key) + '" width="100px" alt=""></center></div></div>';
  // document.getElementById("customs").innerHTML += "<img src='"+localStorage.getItem(key)+"' />";
}
</script>
{% endblock content %}
