{% extends "base2.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Login/Signup" %} — {{ block.super }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row" style="margin-bottom:25px;">

    <div class="col-md-6 col-centered" style="margin: 0 auto;">

      <div class="login_body">
        <h5>Login / Signup here if you don't have an account</h5>
          <form action="{% url "registration:login" %}" method="post">
            {% csrf_token %}
              <ul>
                  <li>
                      <label for="email">Email Address <i class="fa fa-star"></i></label>
                      <input id="email" type="email" name="email">
                  </li>
                  <li>
                      <label for="password">Password <i class="fa fa-star"></i></label>
                      <input id="password" type="password" name="password">
                  </li>
              </ul><br />
              <button class="btn btn_reverse">Login</button>
          </form>

      </div>

  </div>

  <div class="col-md-6 col-centered" style="margin: 0 auto;">

    <div class="login_body">
      <h5>Signup if you don't have an account</h5>
        <form action="{% url "registration:signup" %}" method="post">
            <ul>
                <li style="margin-bottom:10px;">
                    <label for="name">Email Address <i class="fa fa-star"></i></label>
                    <input id="name" type="email" name="email">
                </li>
                <li style="margin-bottom:10px;">
                  <div class="col-md-6">
                    <label class="col-md-6" for="fname">First Name<i class="fa fa-star"></i></label>
                    <input class="col-md-6" id="fname" type="text" name="firstName">
                  </div>
                  <div class="col-md-6">
                    <label class="col-md-6" for="lname">Last Name<i class="fa fa-star"></i></label>
                    <input class="col-md-6" id="lname" type="text" name="lastName">
                  </div>
                </li>
                <li>
                    <label for="pass">Password <i class="fa fa-star"></i></label>
                    <input id="pass" type="password" name="name">
                    {% csrf_token %}

                </li>
            </ul>
            <button class="btn btn_reverse">Signup</button>
        </form>
    </div>

</div>

</div>

</div>

{% endblock %}
